# -------------------------------------------------------------------------------
# LiteLLM Setup
# -------------------------------------------------------------------------------
LITELLM_PORT=4000
LITELLM_MASTER_KEY="<key>"
DATABASE_URL="postgresql://litellm:litellm@localhost:5432/litellm"

# -------------------------------------------------------------------------------
# Models Setup
# -------------------------------------------------------------------------------
GOOGLE_GENERATIVE_AI_API_KEY="<api_key>"
OPENAI_API_KEY="<api_key>"

# -------------------------------------------------------------------------------
# Claude Code Setup
# -------------------------------------------------------------------------------
CLAUDE_CODE_ENABLE_GATEWAY_MODEL_DISCOVERY=1
ANTHROPIC_BASE_URL="http://localhost:${LITELLM_PORT}"
ANTHROPIC_AUTH_TOKEN="${LITELLM_MASTER_KEY}"
MODELS_PROXY="gemini"
ANTHROPIC_MODEL="${MODELS_PROXY}-main"
ANTHROPIC_DEFAULT_OPUS_MODEL="${MODELS_PROXY}-main"
ANTHROPIC_DEFAULT_SONNET_MODEL="${MODELS_PROXY}-fast"
ANTHROPIC_DEFAULT_HAIKU_MODEL="${MODELS_PROXY}-fast"
ANTHROPIC_API_KEY=""
